*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

}

body {
    display: flex;
    justify-content: center;

}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

}
.main-cont h1 {
    font-size: 40px;
    margin: 5px;
    padding: 5px;
}

.sub-cont {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 5px;
    padding: 5px;

}

.color {
    width: 60px;
    height: 25px;
    border-radius: 3px;
    border: none;
    box-shadow: 5px 5px 5px;
    box-shadow: #da9989;
    font-size: 15px;
    font-weight: 500;
}

#blue {
    background-color: #3498db;
    color: white;
}

#orange {
    background-color: orangered;
    color: white;
}

#green {
    background-color: #2ecc71;
    color: white;
}